<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <app-update-type  [type]="updatedType" 
            (typeUpdated)= "typeUpdated($event)" 
            [ajout]="ajout"></app-update-type>
</div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody *ngFor="let cat of types">
                    <tr>
                        <td>{{cat.idType}}</td>
                        <td>{{cat.nomType}}</td>
                        <td>{{cat.descriptionType}}</td>
                        <td><a class="btn btn-success" (click)="updateType(cat)">Editer</a></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    